
ul{
  display: flex;
  gap: 40px;
  list-style: none;
  height: 100px;
  justify-content: left;
  align-items: center;
 color: white;
}

.nav{
  background-color: black;
  box-shadow: 6px 6px 10px white;
 
}
a{
  text-decoration: none;
  color: white;
}

button a{
  color: black;
}

li:hover{
  cursor: pointer;
  font-weight: 800;
  border:1px solid rgba(0, 255, 81, 0.3); ;

  box-shadow: 5px 5px 10px rgb(16, 255, 16);
}


.nav
{
font-size: larger;
display: flex;
font-weight: 500;
gap: 60px;
font-weight: 500;
box-shadow: 1px 15px 10px rgba(13, 0, 255, 0.5);
overflow-x:hidden;
}

#login
{  cursor: pointer;
  border: none;
  border-radius:25px ;
  padding: 10px 40px;
  font-size: large;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 700;
}
#courses:hover{
  font-weight: 800;
  border:.1px solid rgba(255, 55, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(255, 55, 0, 0.8);
}
#courses.hover{
  font-weight: 800;
  border:.1px solid rgba(255, 55, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(255, 55, 0, 0.8);
}
#past:hover{
  font-weight: 800;
  border:0.1px solid rgba(225, 255, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(225, 255, 0, 0.8);
}
#past.hover{
  font-weight: 800;
  border:0.1px solid rgba(225, 255, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(225, 255, 0, 0.8);
}


#about:hover{
  font-weight: 800;
  border:.1px solid  rgba(0, 229, 255, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 174, 255, 0.9);
}

#about.hover{
  font-weight: 800;
  border:.1px solid  rgba(0, 229, 255, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 174, 255, 0.9);
}

#login:hover
{
  color: white;
  background-color: black;
  font-weight: 800;
  border:.3px solid rgba(255, 0, 132, 0.3);
  box-shadow: 5px 5px 10px rgba(255, 0, 132, 0.8);
}

#login.hover
{
  color: white;
  background-color: black;
  font-weight: 800;
  border:.3px solid rgba(255, 0, 132, 0.3);
  box-shadow: 5px 5px 10px rgba(255, 0, 132, 0.8);
}